* {
    margin: 0;
    padding: 0;
}

#grad1 {
    height: 100vh;
    background-image: linear-gradient(to bottom, blue, rgb(14, 14, 226), rgb(53, 208, 246));
    background-attachment: fixed;

}

.main {
    width: 350px;
    height: 350px;
    margin: 150px auto;
    padding: 24px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 50px #1c1a1a;
    /* background-image: url(../gambar/bg1.jpg); */
    background-size: cover;
    overflow: hidden;
}

#cek {
    display: none;
}

.sign-up {
    position: relative;
    width: 100%;
    height: 100%;
}

.sign-up label,
.login label {
    color: white;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    margin: 40px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    height: 20px;
    background: white;
    justify-content: center;
    display: flex;
    margin: 13px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 7px;
}

button.kit,
button {
    width: 50%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: white;
    font-weight: bold;
    background-color: #1c1a1a;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    transition: .2s ease-in;
    cursor: pointer;
}

button.kit:hover {
    /* background-image: url(../gambar/bg1.jpg); */
    background: rgba(255, 255, 255, 0);
    border-bottom: 3PX solid rgb(59, 234, 234);
    box-shadow: 2px 2px 9px rgb(59, 234, 234);
}

.login {
    height: 100%;
    width: 350px;
    margin-left: 0;
    background: hsl(0, 9%, 90%);
    border-radius: 60% / 18%;
    transform: translateY(-100px);
    transition: .8s ease-in-out;
}

.login form input {
    margin: 30px auto;
    width: 60%;
}

.login label {
    transform: scale(.6);
    color: #3232dd;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    margin: 17px auto;
}

button.blog:hover {
    color: black;
    background-color: rgb(254, 244, 244);
    border-bottom: 3PX solid #989898;
    box-shadow: 2px 2px 9px #f2e56e;
}

#cek:checked ~ .login {
    transform: translateY(-400px);
    padding-top: 2px;
}

#cek:checked ~ .login label {
    transform: scale(1);
}

#cek:checked ~ .sign-up label {
    transform: scale(.6);
}
